.div {
    border: 1px solid #000000;
    padding: 3px;
}
.span{
    border: 1px solid #000000;
    padding: 10px;
/*2 thẻ div và span trên không có tên class nên không dc định dạng mà định dạng class là .*/
}
.p {
    border: 1px solid #000000;
    padding: 3px;
}
.a {
    border: 1px solid #000000;
    padding: 10px;
/*2 thẻ div và span trên không có tên class nên không dc định dạng mà định dạng class là .*/
}
.b{
    border: 1px solid #000000;
    padding: 3px;
    float: left;

}
.c {
    border: 1px solid #000000;
    padding: 5px;
    display: inline;
}
.d{
    border: 1px solid #000000;
    padding: 5px;
    display: block;
}